<html xmlns:th="http://www.thymeleaf.org/">
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Add Employee Form</title>
<link rel="stylesheet" type="text/css" href='<c:url value="/css/main.css"/>' />
</head>
<body>
	<div id="global">
		<form action="#" th:action="@{/employee_save}" th:object="${employee}"
			method="post">
			<fieldset>
				<legend><span th:text="#{employee.form.title}">Add a Employee</span></legend>
				<ul th:if="${#fields.hasErrors('*')}">
					<li th:each="err : ${#fields.errors('*')}" th:text="${err}" id="error">Input
						is incorrect</li>
				</ul>
				<p>
					<label for="id"><span data-th-text="#{employee.form.id}">ID</span></label> <input type="text" id="id" th:field="*{id}" />
					<p th:if="${#fields.hasErrors('id')}" th:errors="*{id}" th:errorclass="fieldError" id="error">Incorrect date</p>
				</p>
				<p>
					<label for="firstName"><span th:text="#{employee.form.firstName}">First Name: </span></label> <input type="text"
						th:field="*{firstName}" />
					<p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" th:errorclass="fieldError" id="error">First Name</p>
				</p>
				<p>
					<label for="lastName"><span th:text="#{employee.form.lastName}">Last Name: </span></label> <input type="text"
						th:field="*{lastName}" />
					<p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" th:errorclass="fieldError" id="error">Last Name</p>
				</p>

				<p>
					<label for="birthDate"><span th:text="#{employee.form.birthDate}">Date Of Birth: </span></label> <input type="text"
						th:field="*{birthDate}" />
					<p th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}" th:errorclass="fieldError" id="error">Incorrect date</p>
				</p>
				<p>
					<label for="salaryLevel"><span th:text="#{employee.form.salaryLevel}">Salary: </span></label> <input type="text"
						th:field="*{salaryLevel}" />
					<p th:if="${#fields.hasErrors('salaryLevel')}" th:errors="*{salaryLevel}" th:errorclass="fieldError" id="error"> Salary</p>
				</p>
				<h4><span th:utext="#{employee.form.address}"></span></h4>
				<p>
					<label for="street"><span th:text="#{employee.form.street}">Street: </span></label> <input type="text"
						th:field="*{address.street}" />
					<p th:if="${#fields.hasErrors('address.street')}" th:errors="*{address.street}" th:errorclass="fieldError" id="error">Street</p>
				</p>
				<p>
					<label for="state"><span th:text="#{employee.form.state}">State: </span></label> <input type="text"
						th:field="*{address.state}" />
					<p th:if="${#fields.hasErrors('address.state')}" th:errors="*{address.state}" th:errorclass="fieldError" id="error">State must 2 character</p>
				</p>
				<p>
					<label for="zipCode"><span th:text="#{employee.form.zipCode}">Zip: </span></label> <input type="text"
						th:field="*{address.zipCode}" />
					<p th:if="${#fields.hasErrors('address.zipCode')}" th:errors="*{address.zipCode}" th:errorclass="fieldError" id="error">Zip code</p>
				</p>
				<p id="buttons">
					<input id="reset" type="reset" th:value="#{employee.form.resetbtn}" value="Add Employee" tabindex="4"> <input
						id="submit" type="submit" tabindex="5" th:value="#{employee.form.addbtn}" value="Add Employee">
				</p>
			</fieldset>
		</form>
	</div>
</body>
</html>